.card-container {
    display: flex;
    background-color: #2e2d2d !important;
    padding: 20px;
    margin: 3% 3% 5% 3%;
    border-radius: 15px;
  }

  .card-container:hover {
    box-shadow: 15px 20px 20px 10px rgba(83, 80, 80, 0.25) !important;
    transition: all 0.7s linear;
  }

  .card-image {
    width: 50%;
  }

  .card-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    text-align: justify;
  }

  .card-details h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-family: sans-serif;
  }

  .card-details p {
    margin-bottom: 10px;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }

  .inputCombo{
    color: #fff ;
  }

  @media (max-width: 1000px) {
    .card-container {
        display: flex;
        background-color: #ffffff;
        padding: 20px;
    }

    .card-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .card-details {
      width: 100%;
    }
  }

  @media (max-width: 861px) {
    .card-container {
      flex-direction: column;
    }

    .card-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .card-details {
      width: 100%;
    }
  }

  @media (max-width: 680px) {
    .card-container {
      flex-direction: column;
    }

    .card-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .card-details {
      width: 100%;
    }

    .card-details button {
      font-size: 14px;
      width: 70%;
    }
  }

  @media (max-width: 500px) {
    .card-container {
      flex-direction: column;
    }

    .card-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .card-details {
      width: 100%;
    }
    .card-details h2 {
      font-size: 2rem;
    }
    .card-details p {
      font-size: 16px;
    }

    .card-details button {
      font-size: 14px;
      width: 90%;
    }
  }

  @media (max-width: 450px){
    .card-details h2 {
      font-size: 20px;
      font-weight: bold;
      color: #2a9c9d;
    }
    .card-details p {
      font-size: 14px;
    }

    .card-details button {
      font-size: 14px;
      width: 100%;
    }
  }

  .quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .quantity-container button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: #2a9c9d;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .quantity-container span {
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }