.containerShowEvent{
  display: flex;
  margin: 0 3rem;
}

@media screen and (max-width: 750px) {
  .containerShowEvent{
      display: block;
      margin-bottom: 1rem;
  }
  .card {
      width: 100% !important;
      margin-bottom: 1rem;
  }
}