.title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 3rem;
  }
  
  .title h1{
    font-family: 'Lato', sans-serif;
  }
  
  .container-shopping {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .logo-cart{
    width: 3rem;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .cart-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .cart-container:hover {
    cursor: pointer;
    box-shadow: 15px 20px 20px 10px rgba(33, 33, 33, 0.276) !important;
    transition: all 0.7s linear;
  }
  
  .cart-item {
    background-color: rgb(90 90 247);
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
  }
  
  .cart-item-image {
    flex: 0 0 300px;
    margin-right: 1rem;
    display: flex;
    justify-content: center; /* Centrar la imagen horizontalmente */
    align-items: center; /* Centrar la imagen verticalmente */
  }
  
  .cart-item-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cart-item img {
    width: 100%;
    border-radius: 12px;
  }
  
  .cart-item h2 {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    color: #f0f0f0;
  }
  
  .cart-item-details h5 {
    margin-top: .8rem;
    font-family: 'Lato', sans-serif;
  }
  
  .cart-item p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
  }
  
  .cart-item button{
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
  }
  
  .cart-item-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  @media (max-width: 445px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-image {
      margin-bottom: 1rem;
    }
  
    .cart-item-details {
      order: -1;
    }
  
    .cart-item-button {
      width: 100%;
      justify-content: flex-start;
    }
  }
  
  .center h2{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center button{
    width: 200px;
    margin-bottom: 3rem;
    font-family: 'Lato', sans-serif;
  }
  
  .button-align{
    display: flex;
    justify-content: center;
    align-items: center;
  }