.containerShowA{
    display: flex;
    margin: 0 3rem;
}

@media screen and (max-width: 500px) {
    .containerShowA{
        display: block;
        margin-bottom: 1rem;
    }
    .card {
        width: 100%;
        max-width: 400px; 
        margin-bottom: 1rem;
    }
}