.containerShowA{
    display: flex;
    margin: 0 3rem;
}

@media screen and (max-width: 500px) {
    .containerShowA{
        display: block;
        margin-bottom: 1rem;
    }
    .card {
        width: 100%; /* La tarjeta ocupa todo el ancho del contenedor */
        max-width: 400px; /* O ajusta el valor máximo según tus necesidades */
        margin-bottom: 1rem;
    }
}