.card-container {
  width: 50rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center-card{
    display: flex;
    justify-content: center;
}

.card-details h1{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:  rgb(90 90 247);
}

.card-details p{
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  @media screen and (max-width: 945px) {
    .card-container {
      width: 20rem;
      flex-direction: column;
      align-items: center;
    }
    .card-image {
      order: 1;
    }
    .card-details {
      order: 1;
      width: 100%;
      justify-content: flex-start;
      padding: 0 20px;
    }
  }